<select name="FacilitySearch[Doctor]" class="list_items" id="FacilitySearch_Doctor">
    <option value="">Doctor's Name</option>
    <option value="1726">5th Avenue medical 7 Day surgery Centre, 5th Avenue medical &amp; day surgery Centre</option>
    <option value="1324">abba, john</option>
    <option value="597">Dr. Abdallah, Fuwad</option>
    <option value="817">Dr. Abuya, Joseph</option>
    <option value="1766">Abuya, Tom</option>
    <option value="1822">Dr. Adam, Zoya</option>
    <option value="1901">ADAM, PROFESSOR  ADAM</option>
    <option value="1284">Dr. Adan, Rilwan</option>
    <option value="1405">Dr. Aden, Muna</option>
    <option value="64">Dr. Adung'o, Allan Ikol</option>
    <option value="65">Dr. Afulo, Omondi</option>
    <option value="528">Dr. Ahmed, Hassan</option>
    <option value="536">Dr. Ahmed, Ismail</option>
    <option value="1408">Dr. Ahmedali, Huzefa</option>
    <option value="66">Dr. Akama, Mathew</option>
    <option value="506">Akich, Milka</option>
    <option value="6">Dr. Akmal, Rumesa</option>
    <option value="496">Dr. Alaro, Dan</option>
    <option value="2058">Ali, Zipporah </option>
    <option value="1752">Ali, Mohamednur Mohamud Maalim</option>
    <option value="67">Prof. Aluoch, Joseph</option>
    <option value="68">Dr. Amadi, Edgah</option>
    <option value="69">Dr. Anangwe, Patrice</option>
    <option value="1298">Dr. Andhavarapu, Maheshwari</option>
    <option value="70">Dr. Andrawes, Safwat S.</option>
    <option value="947">Aodo, Peter</option>
    <option value="1294">Dr. Areeb, Mohamed </option>
    <option value="909">Mr. Arora, Varun </option>
    <option value="71">Dr. Arunga, Kevin</option>
    <option value="72">Dr. Aseka, Patience Nandwa</option>
    <option value="782">Dr. Asif, Gulam</option>
    <option value="73">Dr. Asimba, Doreen</option>
    <option value="873">Dr. Atina, Jackson</option>
    <option value="901">Dr. Atina, Jackson</option>
    <option value="742">Dr. Aweis, Mumin</option>
    <option value="378">Dr. Ayieng'a, Evans</option>
    <option value="2094">Dr. Ayumba, Mwanaidi</option>
    <option value="74">Dr. Ayunga, Amos</option>
    <option value="511">AYUNGA, AMOS</option>
    <option value="75">Prof. Ayuo, Paul</option>
    <option value="518">Dr. Bachani, Gulam</option>
    <option value="512">Dr. Bagha, Saleem</option>
    <option value="464">Dr. Bansal, Yash</option>
    <option value="1733">Bhandari, Manish</option>
    <option value="76">Dr. Bhogal, Onkal s</option>
    <option value="946">Bill, Karanja</option>
    <option value="2110">Dr. Bodo, Sarah</option>
    <option value="77">Dr. Boit, Jebet</option>
    <option value="78">Dr. Boore, John K</option>
    <option value="79">Dr. Bor, Richard k</option>
    <option value="2052">Brewer, Kaseem</option>
    <option value="2112">Bukachi, Dr. Fred </option>
    <option value="80">Dr. Bulhan, Khalida</option>
    <option value="829">Dr. Bwire, Vitalis</option>
    <option value="81">Dr. Bwire, Ochwila Austine</option>
    <option value="492">Dr. Byakika, Timothy</option>
    <option value="751">CHALOPA, AWIKI</option>
    <option value="1699">Dr. Charana, Evans</option>
    <option value="813">Dr. Chauhan, Virinderpal Singh</option>
    <option value="1735">Dr. Chege, Njeri</option>
    <option value="825">Dr. Chemwolo, Benjamin</option>
    <option value="1189">chen, sying</option>
    <option value="1569">Chirchir, Allan</option>
    <option value="1522">Mr. Chirchir, Allan</option>
    <option value="82">Prof. Chunge, Charles N</option>
    <option value="895">Conteh, Sorie</option>
    <option value="573">Dr. D'lima, Melvin</option>
    <option value="847">Dr. David Mwangi, Kahoro</option>
    <option value="309">Dr. David Oyolo , Misango </option>
    <option value="84">Dr. Devani, Smita</option>
    <option value="463">Dr. Din, Reema </option>
    <option value="85">Dr. Dipa, Kavia</option>
    <option value="550">Doctor, Farwell</option>
    <option value="86">Dr. Dogra,  O.S.</option>
    <option value="903">Dr. Ebrahimji, Rashida</option>
    <option value="428">Dr. Ekwom,  Paul Etau</option>
    <option value="781">Dr. Erulu, Eugene</option>
    <option value="1812">Etiang', Nancy</option>
    <option value="596">Dr. Ezzi, Mohammed</option>
    <option value="1348">Dr. Faraj, Salwa</option>
    <option value="324">Dr. Fitzwanga,  Kaiser </option>
    <option value="712">Francis Ouko, Dr Odira</option>
    <option value="284">Dr. Francisca, Kahiu</option>
    <option value="372">Dr. Gachago,  Muchai</option>
    <option value="502">Dr. Gachara, Naomi</option>
    <option value="1109">GACHIRI, JOYCE</option>
    <option value="1289">GACHOKA, SYLVIA</option>
    <option value="326">Dr. Gachuiri,  Thomas</option>
    <option value="890">Dr. Gafna, Ishmael</option>
    <option value="523">Dr. Ganda, Beryl</option>
    <option value="1854">Dr. Gascoigne, Ogado</option>
    <option value="1666">Dr. Gathoni , Simon </option>
    <option value="2133">Gathua , Samuel </option>
    <option value="1604">Gatungo, Alice</option>
    <option value="373">Dr. Gecaga,  Wendy W.</option>
    <option value="1054">George, Veronica</option>
    <option value="771">Dr. Getambu, esther</option>
    <option value="826">Dr. Gichuki, Judy</option>
    <option value="421">Dr. Giddie,  K.S.</option>
    <option value="524">Dr. Gikonyo, Anthony</option>
    <option value="321">Dr. Gikonyo, Dan</option>
    <option value="416">Dr. Gikonyo,  Mbira</option>
    <option value="437">Dr. Gitari,  Mnthaka Renson</option>
    <option value="1329">Gitau, Sheila</option>
    <option value="42">Dr. Githanga, David</option>
    <option value="713">Dr. Githiaka, Waihenya</option>
    <option value="2039">Githome, Jeremy</option>
    <option value="351">Dr. Gitura,  Bernard Muriuki</option>
    <option value="509">Dr. Gitura, Bernard</option>
    <option value="828">Dr. Godfrey, Obwanga</option>
    <option value="638">Goswami, Dimple</option>
    <option value="414">Prof. Guthua, Symon Wangombe</option>
    <option value="1308">Haba , Haba </option>
    <option value="1315">Dr. Hersi, Safia Ifrah</option>
    <option value="413">Dr. Hirani,  Mumtaz S.</option>
    <option value="2100">Dr. Hooker, Juzar</option>
    <option value="593">Dr. Hussain, Shabbir</option>
    <option value="381">Dr. Irungu,  David</option>
    <option value="887">Dr. Jaffer, Mazaher Hassan</option>
    <option value="822">Dr. Jakait Sangalo, Charles</option>
    <option value="833">Dr. James, Oloo</option>
    <option value="1165">james, angela</option>
    <option value="347">Dr. Jandu,  Harbaksh</option>
    <option value="410">Dr. Jandu,  C. K.</option>
    <option value="1801">Jane, Mary</option>
    <option value="1170">Prof. Jaoko, Walter</option>
    <option value="783">Dr. Jin, Umar</option>
    <option value="288">Dr. Jin,  Mohamedhussain</option>
    <option value="60">Dr. John, Komu</option>
    <option value="1013">Juma, Muttah</option>
    <option value="286">Dr. Jumbi, Timothy</option>
    <option value="1313">Dr. Jutley, Rajwinder</option>
    <option value="1669">Dr. Kabue, Mark</option>
    <option value="279">Dr. Kagema,  Frank</option>
    <option value="532">Dr. Kagima, Jacqueline </option>
    <option value="296">Dr. Kagondu,  Frederick </option>
    <option value="898">Dr. Kaguongo, Rachel Kabui</option>
    <option value="513">KAHIA, TERESA</option>
    <option value="1536">Dr. Kahonge, Fiona</option>
    <option value="41">Dr. Kahugu, Eric</option>
    <option value="280">Dr. Kahura,  James Kamau</option>
    <option value="769">Dr. Kailemia, irungu</option>
    <option value="467">Dr. Kamotho, Charles G.</option>
    <option value="339">Dr. Kamu,  Patricia</option>
    <option value="1948">Kanina, Powell</option>
    <option value="1887">Dr. Kanyagia, Paul</option>
    <option value="1902">Karanja, Georg ge</option>
    <option value="468">Dr. Karari,  Emma </option>
    <option value="29">Dr. Kariuki, Charles</option>
    <option value="383">Dr. Kariuki,  Mercy</option>
    <option value="447">Dr. Kariuki,  James</option>
    <option value="1830">Karuga, Gideon</option>
    <option value="1068">Dr. Karuri, David</option>
    <option value="432">Dr. Kasmani,  Riaz</option>
    <option value="1765">Katu, Jimmy</option>
    <option value="439">Dr. Keli,  Florence N.</option>
    <option value="380">Dr. Kemei,  K. Daniel</option>
    <option value="736">Dr. Kenyanya, Anthony</option>
    <option value="568">Dr. Kerubo, Jackline</option>
    <option value="331">Dr. Khan,  Neelam</option>
    <option value="333">Dr. Khan,  M.R.</option>
    <option value="845">Dr. Khisa, Henry</option>
    <option value="24">Dr. Kiage, Dan</option>
    <option value="575">Prof. Kiage, Dan</option>
    <option value="311">Dr. Kibata, Githeko</option>
    <option value="37">Dr. Kiboi, Julius</option>
    <option value="354">Dr. Kibugi,  Edwin</option>
    <option value="391">Dr. Kibui,  Peter</option>
    <option value="469">Dr. Kigamwa, Pius</option>
    <option value="583">Dr. Kigera, Lee Ngugi</option>
    <option value="412">Dr. Kigondu,  Simon</option>
    <option value="418">Dr. Kihara,  H.W.</option>
    <option value="404">Dr. Kiko,  Mary M.</option>
    <option value="773">Dr. Kileba, Jack</option>
    <option value="535">Dr. Killingo, Duncan</option>
    <option value="837">Dr. Kilonzo, Peter</option>
    <option value="652">Dr. Kilonzo, Faith</option>
    <option value="317">Dr. Kimama, Cosmas</option>
    <option value="894">kimando, mercy</option>
    <option value="384">Dr. Kimani, Kihaki</option>
    <option value="1952">Ms. Kimathi, Sylvia</option>
    <option value="315">Dr. Kingondu, Timothy</option>
    <option value="426">Dr. Kingori,  Papius Wamaguru</option>
    <option value="328">Dr. KINGURE, KINGURE</option>
    <option value="390">Dr. Kinyanjui,  Beth W.</option>
    <option value="1705">Dr. KIPINGOR, MUSA</option>
    <option value="816">Dr. Kiplagat Kibogong, Allan</option>
    <option value="449">Dr. Kiprotich,  Evans</option>
    <option value="407">Dr. Kiraitu,  Miriti</option>
    <option value="1844">Dr. Kirugo, Keagan</option>
    <option value="456">Dr. Kirui,  Fredrick</option>
    <option value="1499">Dr. Kithikii, Flora</option>
    <option value="1356">Dr. Kitili, Martha</option>
    <option value="32">Dr. Kitulu, Jacqueline</option>
    <option value="352">Dr. Koech,  Kennedy</option>
    <option value="385">Dr. Koech,  Priscillah</option>
    <option value="899">Dr. Koech, Lynda </option>
    <option value="431">Dr. Kubasu,  Stella</option>
    <option value="1083">Dr. Kunyiha, Nancy</option>
    <option value="934">Dr. Kuria , Fredrick </option>
    <option value="1702">Dr. Kuria, Kihiko</option>
    <option value="1193">Dr. Kwasa, Elijah</option>
    <option value="798">Dr. Kwobah, Charles</option>
    <option value="522">Dr. Lagat, David</option>
    <option value="501">Dr. Lagat Kipchumba, Moses</option>
    <option value="1711">Prof. Lema, Valentino Manase</option>
    <option value="446">Dr. Lema,  Rogarth</option>
    <option value="36">Dr. Lessan, Joel</option>
    <option value="425">Dr. M'Ndegwa,  Japheth Mwenda</option>
    <option value="312">Dr. Maawiya,  Hindu A.</option>
    <option value="278">Dr. Macharia,  Stephen </option>
    <option value="292">Dr. Macharia,  Ngige Charles</option>
    <option value="2031">Macharia, Danson</option>
    <option value="1503">Dr. Macira, Boniface</option>
    <option value="444">Dr. Magada, Ala Geoffrey</option>
    <option value="336">Dr. Mahmud,  Arshed Mighal</option>
    <option value="403">Dr. Maimba,  John M.</option>
    <option value="1318">Dr. Maina, Charles</option>
    <option value="298">Dr. Maina, Nyawira</option>
    <option value="330">Dr. Maina, Charles</option>
    <option value="636">Dr. Maina, Maxwell</option>
    <option value="1712">Dr. Maina, Sheila Katungwa</option>
    <option value="462">Dr. Maina,  Anne W.</option>
    <option value="470">Dr. Maina, Stephen</option>
    <option value="1769">Maina, Tom</option>
    <option value="765">Maina, Nyawira</option>
    <option value="843">majhimbo, john</option>
    <option value="1293">Dr. Malik, Hannah</option>
    <option value="471">Dr. Malusu, Baselisa</option>
    <option value="2125">Mamujee, Ummeaeman</option>
    <option value="1789">Dr. man, iam</option>
    <option value="434">Dr. Manuthu,  Evans</option>
    <option value="1312">Dr. Maranga, Innocent S.O</option>
    <option value="850">Dr. Marjan, Ramadhan</option>
    <option value="379">Dr. Marubu,  Joan</option>
    <option value="26">Dr. Masesa, Jan</option>
    <option value="405">Dr. Masinde,  Peter</option>
    <option value="342">Dr. Matu,  Nelson K.</option>
    <option value="287">Dr. Maxwel , Okoth </option>
    <option value="283">Dr. Mayabi,  Willis G.</option>
    <option value="341">Dr. Mbidde,  George William</option>
    <option value="393">Dr. Mbogo,  David Mbui</option>
    <option value="572">Dr. Mbongo, Alain</option>
    <option value="35">Dr. Mbugua, Patrick</option>
    <option value="564">Dr. Mburu, Edwin</option>
    <option value="505">Dr. Mburu, Albert</option>
    <option value="294">Dr. Mbuthia, Joseph</option>
    <option value="1807">Meier, Hans</option>
    <option value="353">Dr. Mene,  Elvis</option>
    <option value="1813">Miako, Irene</option>
    <option value="1333">michael, flexx</option>
    <option value="851">Prof. Micheni, Jotham</option>
    <option value="338">Dr. Mina,  Somaya (Mrs.Andrawes)</option>
    <option value="1093">MIRITI, DR.MIRITI F.KARIUKI</option>
    <option value="327">Dr. Mogere,  Edwin</option>
    <option value="565">Dr. Mohamed, Abdi</option>
    <option value="332">Dr. Mohamed,  Abdulrazak </option>
    <option value="1377">Dr. Mohamed, Nassor</option>
    <option value="1941">Dr. Mohamed, Amina</option>
    <option value="1382">Dr. Mohammed, Rukiya</option>
    <option value="2111">Mokaya, Aggrey</option>
    <option value="398">Dr. Mokomba,  Alfred</option>
    <option value="387">Dr. Monda,  Simeon M.</option>
    <option value="1738">Dr. Monyo, Anthony</option>
    <option value="1299">Dr. Moraa Gachemba, Yubrine</option>
    <option value="753">Dr. Moraa Omundi, Nancy</option>
    <option value="316">Dr. Morara Peter, Michoma</option>
    <option value="2098">Dr. Mosoba, Nicholas</option>
    <option value="436">Dr. Moturi,  George</option>
    <option value="956">Dr. Moturi, George</option>
    <option value="2047">Dr. Mucheru, Sam</option>
    <option value="38">Dr. Mucheru-Wang'ombe, Monique</option>
    <option value="1531">Dr. MUGENYA, IRENE</option>
    <option value="538">Dr. Mugo, Michael</option>
    <option value="1236">Dr. Mugo, Maryann</option>
    <option value="1474">Dr. Muhoro, Martin</option>
    <option value="343">Dr. Muigai,  Billy</option>
    <option value="355">Dr. Muiru,  N. John</option>
    <option value="776">Dr. Mukuha, Michael</option>
    <option value="361">Dr. Mukui,  P. Kimata</option>
    <option value="1907">Mr. Mulumbi, Thomas</option>
    <option value="778">Dr. Mumo, Naomi</option>
    <option value="571">Dr. Mumo, Kituku</option>
    <option value="680">Dr. Mundia, David</option>
    <option value="774">Dr. Munene, Dominic</option>
    <option value="305">Dr. Mungai, Eric</option>
    <option value="406">Prof. Mungai,  Peter Ngugi</option>
    <option value="762">Dr. Mungai, Kamau</option>
    <option value="334">Dr. Munyao,  Mulinge</option>
    <option value="756">Dr. Munyu, Peter</option>
    <option value="563">Dr. Murage, Beatrice</option>
    <option value="408">Dr. Murage,  Wachira</option>
    <option value="777">Dr. muraya, wilson</option>
    <option value="1681">MURIBA, PETER</option>
    <option value="282">Dr. Muriithi,  A.H.</option>
    <option value="602">Dr. Muriithi, Francis Githae </option>
    <option value="367">Dr. Muriithi, Miriam- Kibe</option>
    <option value="1267">Dr. Murila, Johnson</option>
    <option value="2122">Muriuki , Daniel </option>
    <option value="1962">MUSIBI, MUTHONI</option>
    <option value="472">Dr. Musila, Gibson</option>
    <option value="704">Dr. Musyoka , David Ndonye </option>
    <option value="483">Dr. Mutara, Lucy</option>
    <option value="1722">Dr. Muthoka, Maria </option>
    <option value="363">Dr. muthomi, Peter</option>
    <option value="402">Dr. Muthumbi,  Bernadine L.</option>
    <option value="1800">Dr. Mutie, Paul</option>
    <option value="1548">Dr. Mutiga, Derrick</option>
    <option value="789">Dr. Mutiso , Eric </option>
    <option value="482">Dr. Mutisya, Catherine Syengo</option>
    <option value="460">Dr. Mutuga,  Quentin</option>
    <option value="1160">Dr. Muturi, Anthony</option>
    <option value="441">Dr. Muturi,  Ignatius</option>
    <option value="1305">Dr. Mwachaka, Philip</option>
    <option value="1330">Dr. Mwai, Margarita</option>
    <option value="750">Dr. Mwai, Charles</option>
    <option value="1849">Dr. Mwakio Mwachoki, Patterson</option>
    <option value="1706">Dr. Mwakirungu, Cromwell</option>
    <option value="44">Dr. Mwangi, Joshua</option>
    <option value="569">Dr. Mwangi, David</option>
    <option value="340">Dr. Mwangi,  Joseph I.</option>
    <option value="386">Dr. Mwangi,  Njeri Grace</option>
    <option value="392">Dr. Mwangi, Gicheru</option>
    <option value="1421">Dr. Mwangi, Beatrice Wanjiru</option>
    <option value="1187">Mwangi, Gidraf</option>
    <option value="1759">Mwangi, Kamau</option>
    <option value="1440">Dr. Mwanza, Geoffrey</option>
    <option value="609">Dr. Mwanzi, Sitna</option>
    <option value="1808">Mwaringa, Godwin</option>
    <option value="515">Dr. Mwashambi, Bakari</option>
    <option value="1463">Dr. Mwaura, Lilian</option>
    <option value="766">Dr. Mwema, Muia</option>
    <option value="772">mwenda, robin</option>
    <option value="306">Mr. Mwendwa, Peter</option>
    <option value="2115">Mwendwa, Florence</option>
    <option value="519">Dr. Mwikya, Anne</option>
    <option value="1767">Mwingine, Daktari</option>
    <option value="1768">Mwingine, Daktari</option>
    <option value="293">Dr. Mwita , Riro</option>
    <option value="918">Mwongeli, Juliet </option>
    <option value="1826">Dr. Nagaraj, Harish</option>
    <option value="896">Dr. Namasaka, Mwella</option>
    <option value="484">Dr. Narayanan, Vijayakumar</option>
    <option value="375">Dr. Nassir,  Faiza</option>
    <option value="823">Dr. Ndede, Fredrick</option>
    <option value="443">Dr. Ndege,  Peter Kenneth</option>
    <option value="673">Dr. Ndeleva, Benjamin</option>
    <option value="839">Dr. Ndirangu, Meshack</option>
    <option value="415">Dr. Ndirangu,  David Theuri</option>
    <option value="2093">Ndiritu , James</option>
    <option value="830">Dr. Ndiritu Ndirangu, Moses</option>
    <option value="2114">Ms. Nduiga, Daniel</option>
    <option value="752">Dr. Ng'ang'a-Oginga, Irene</option>
    <option value="888">Dr. Ngare, Stanley</option>
    <option value="2035">Ngeno, G.T.</option>
    <option value="313">Dr. Ngigi, John</option>
    <option value="323">Dr. Ngugi, Samuel K</option>
    <option value="1138">Ms. Ngugi, Joyce</option>
    <option value="897">Dr. Ngugi, Nancy</option>
    <option value="1478">Dr. NGUGI, ROSSLYN</option>
    <option value="2091">Dr. Nguku, Speciosa Mbula</option>
    <option value="2092">Dr. Nguku, Levis</option>
    <option value="1479">Dr. Nguku, Daniel Mulwa</option>
    <option value="291">Dr. Ngumbi,  Paul</option>
    <option value="314">Dr. Ngunga, Mzee</option>
    <option value="290">Dr. Ngure,  James</option>
    <option value="8">Dr. Ngwatu, Peter</option>
    <option value="9">Dr. Ngwiri, Thomas</option>
    <option value="370">Dr. Nirdosh, Varma</option>
    <option value="531">Dr. Njenga, Kamenwa</option>
    <option value="301">Dr. Njenga, Eva</option>
    <option value="818">Dr. Njenga, Samuel</option>
    <option value="1166">Dr. Njenga, Erick</option>
    <option value="517">njeri, dolly</option>
    <option value="2017">Dr. Njeru , Jane </option>
    <option value="344">Dr. Njino,  Michael</option>
    <option value="1044">Dr. Njiru, Josphat</option>
    <option value="570">Dr. Njiru, Leonard Njeru</option>
    <option value="1771">NJIRU, WALLACE</option>
    <option value="757">Dr. Njiru, Evangeline W.</option>
    <option value="1014">Dr. Njiru, Simon</option>
    <option value="40">Dr. Njogu, George</option>
    <option value="22">Dr. Njoroge, Peter Kamau</option>
    <option value="297">Dr. Njuguna, Mary</option>
    <option value="988">Dr. Njuguna, Pamela</option>
    <option value="401">Dr. Njuguna Wa Njeri, Josphat </option>
    <option value="1803">Nkono, Thomas</option>
    <option value="815">Dr. Ntalo Were, Christpher</option>
    <option value="348">Dr. Nyaga,  Godfrey</option>
    <option value="832">Dr. Nyaim Opot, Elly</option>
    <option value="779">Dr. nyale, george</option>
    <option value="1237">Nyambati, Claire</option>
    <option value="389">Dr. Nyamu,  Muriithi</option>
    <option value="485">Dr. Nyanchama, Mercy</option>
    <option value="2117">Nyanya, Winfred</option>
    <option value="429">Dr. Nyenze,  Emmanuel Muindi</option>
    <option value="454">Dr. Nyikuli,  Jared</option>
    <option value="814">Dr. Nyokabi, Jocelyn</option>
    <option value="448">Dr. Obiero,  Eunice T.</option>
    <option value="457">Dr. Obiero,  Milton</option>
    <option value="735">Dr. Obonyo, Nchafatso G</option>
    <option value="611">Dr. Obudho, Norah</option>
    <option value="435">Dr. Obure,  Samson</option>
    <option value="1335">Dr. Obwaka, Christopher</option>
    <option value="836">Dr. Ochanda Mbuya, Simeon</option>
    <option value="308">Dr. Ochieng,  Irene</option>
    <option value="598">Dr. Ochola, Tom</option>
    <option value="285">Dr. Ochungo, Peter</option>
    <option value="840">Dr. Odawa, Benard</option>
    <option value="1469">Dr. Odhiambo, Moses</option>
    <option value="1225">Dr. Odhiambo, Vincent</option>
    <option value="357">Dr. Odinga,  Zacheaus</option>
    <option value="30">Dr. Odula, Paul</option>
    <option value="567">Dr. Oenga, Biyaki </option>
    <option value="320">Dr. Ogada,  Samwel Omondi</option>
    <option value="722">Dr. Ogindo , Joacquem</option>
    <option value="534">Prof. Ogola, Elijah</option>
    <option value="566">Dr. Ogutu, Rashid</option>
    <option value="368">Dr. Ogweno,  M. George</option>
    <option value="1410">Ohanga, Henry</option>
    <option value="319">Dr. Oigara,  Raymond O.</option>
    <option value="759">ojoo, Josephine</option>
    <option value="1464">Ojuok, Mark</option>
    <option value="411">Dr. Ojwang',  Omondi Stephen</option>
    <option value="438">Dr. Okanga, Nashon</option>
    <option value="486">Dr. Okech, Violet C A</option>
    <option value="345">Dr. Okemwa,  Minda</option>
    <option value="835">Okeyo, Stephen</option>
    <option value="2107">Okinyi, David</option>
    <option value="359">Dr. Okonji,  Marx</option>
    <option value="337">Dr. Okoth,  Frederick A.</option>
    <option value="450">Dr. Okoth,  Steve Biko</option>
    <option value="2123">Okumu, Nicholas</option>
    <option value="349">Dr. Okumu,  Charles</option>
    <option value="749">Dr. Omari, Beatrice</option>
    <option value="427">Dr. Ombachi,  Richard Bwana</option>
    <option value="841">Dr. Omega, David</option>
    <option value="2032">Omire, Godfray</option>
    <option value="574">Dr. Omolo, Nerry</option>
    <option value="1288">Dr. Omondi, Marilynn</option>
    <option value="487">Mr. Omondi, Ben I.</option>
    <option value="500">Dr. Omonge, Enoch </option>
    <option value="699">Dr. Ondari, Enock</option>
    <option value="1944">Mr. Ondieki, Theophilus</option>
    <option value="481">Dr. Ondieki, Diana</option>
    <option value="364">Dr. Ong'ech,  John O.</option>
    <option value="1549">Ongaro, Neford</option>
    <option value="838">Dr. Ongaro, Neford</option>
    <option value="767">Dr. Ongeri, Angwenyi N</option>
    <option value="1222">Dr. Onkoba, Sammy</option>
    <option value="335">Dr. Onunga,  Jude Francis</option>
    <option value="21">Dr. Onyango, Oscar Muwale</option>
    <option value="821">Dr. Onyango, Elizabeth</option>
    <option value="516">Orwa, Judy</option>
    <option value="395">Dr. Osewe,  Edward O.</option>
    <option value="594">Dr. Otedo, Amos</option>
    <option value="25">Dr. Otieno, Harun</option>
    <option value="2095">Dr. Otieno, Harun</option>
    <option value="63">Dr. Otieno, Edwin S.</option>
    <option value="419">Dr. Otieno,  Vincent</option>
    <option value="420">Dr. Otieno,  David</option>
    <option value="458">Dr. Otieno,  Fredrick</option>
    <option value="1750">Otieno, Joseph</option>
    <option value="277">Dr. Otieno Omolo, Nerry</option>
    <option value="350">Dr. Otsianyi,  Wyckliff</option>
    <option value="1471">Dr. Otweyo, William</option>
    <option value="499">Dr. Ouko, Dan</option>
    <option value="329">Dr. Owino,  Pius </option>
    <option value="459">Dr. Owino,  Sarah</option>
    <option value="452">Prof. owino-Ong'or, Willis</option>
    <option value="2099">Owuor, Andrew</option>
    <option value="480">Dr. Oyoo, Omondi</option>
    <option value="1292">Dr. Oyuke, Dorothy</option>
    <option value="356">Dr. Pamnani,  Ritesh</option>
    <option value="83">Mr. Paresh,  Devani</option>
    <option value="479">Dr. Parkar, Rafique</option>
    <option value="507">Dr. Parmar, Sanjeev</option>
    <option value="1428">Pasaker, Benter </option>
    <option value="1448">Dr. patel, jayendrakumar</option>
    <option value="478">Dr. Patel, Paresh Kumar J.</option>
    <option value="764">Dr. Patel, Ajay</option>
    <option value="1940">Dr. PATIL, PARAG</option>
    <option value="1399">Dr. Paul J., Kimani</option>
    <option value="303">Dr. Paul Wambaki, Wanjohi</option>
    <option value="1876">Dr. Peter, Waweru</option>
    <option value="1475">Dr. Peter, Andrew</option>
    <option value="537">Dr. Philipember, Manoramaphilip</option>
    <option value="397">Prof. R. Ilako, Dunera</option>
    <option value="848">Dr. Rae, George O.</option>
    <option value="1426">Dr. Rai, Doulat</option>
    <option value="891">Dr. Rajpal, Rakesh</option>
    <option value="1291">Dr. Rakama, Stella</option>
    <option value="310">Dr. Rashid, Salim</option>
    <option value="755">Dr. Riyat, Malkit</option>
    <option value="1297">Dr. Robai, Caroline</option>
    <option value="461">Dr. Rono,  Edwin </option>
    <option value="2033">Rono, Caroline</option>
    <option value="360">Mr. Rupani, Harish</option>
    <option value="1286">Dr. Rwamba, Grace</option>
    <option value="396">Dr. S. Kaguri, Kanja</option>
    <option value="844">safari, michael</option>
    <option value="820">Dr. Said, Mohamud</option>
    <option value="1468">Dr. Saidi, Kassim</option>
    <option value="417">Dr. Saio,  Mauro</option>
    <option value="932">Dr. Sajin Musabi, Melab</option>
    <option value="508">Dr. Samia, Bernard</option>
    <option value="824">Dr. Samuel, Gitonga</option>
    <option value="1052">Dr. SANGORO, MIKE</option>
    <option value="455">Dr. Serem,  Edward</option>
    <option value="1395">Dr. Sereti, Steve</option>
    <option value="1238">Sewe, Tom</option>
    <option value="770">Dr. Shah, Kiran</option>
    <option value="1285">Dr. Shahbal, Salwa</option>
    <option value="763">Dr. Sharif, Shahnaaz</option>
    <option value="1498">Dr. Shariff, Abdulrazak</option>
    <option value="300">Dr. Shchukin (Chtchoukin), Vladimir</option>
    <option value="299">Dr. Shchukina, Lyudmyla</option>
    <option value="1559">Dr. Shedrach, Kahindi</option>
    <option value="595">Dr. Sheikh, Nadeem</option>
    <option value="1406">SHEIKH, ABDULSWAMAD RUWEYS</option>
    <option value="846">Dr. Shibona, Moses</option>
    <option value="34">Dr. Shosi, Rishad Ali</option>
    <option value="919">sigei, hillary</option>
    <option value="530">Dr. Silverstein, David</option>
    <option value="445">Dr. Simani,  Philip L.</option>
    <option value="1311">Dr. Simiyu, Namungu</option>
    <option value="831">Dr. Simon, Mwangi</option>
    <option value="576">Dr. Smith, Steve</option>
    <option value="1815">Dr. SOIN, GURVEEN</option>
    <option value="442">Dr. Soki,  James Mokua</option>
    <option value="1596">Sokwala, Ahmed</option>
    <option value="453">Dr. Sokwalla, Saira Banu</option>
    <option value="477">Dr. Sonigra, Ranjana</option>
    <option value="760">Dr. Sood, Mohamed</option>
    <option value="1316">Dr. Sorathia, Shaheed</option>
    <option value="1367">Dr. Sorathia, Farooq</option>
    <option value="527">Dr. Sore, Peter</option>
    <option value="466">Dr. Stephen Mbugua, Kairu</option>
    <option value="1282">Dr. Suleiman, Alamin</option>
    <option value="2021">Sumbi, Everlyne</option>
    <option value="307">Dr. Supa, Tunje Dorcas </option>
    <option value="1398">Test, Haba</option>
    <option value="365">Dr. Thuo,  Mwithiga</option>
    <option value="761">Timothy, Kingondu</option>
    <option value="376">Dr. Tinega,  Nicholas O.</option>
    <option value="1290">Dr. Tonio, Caroline</option>
    <option value="504">Dr. Tsuma, Einstein</option>
    <option value="827">tunje, David (actually Dorcas)</option>
    <option value="2090">Varvani , Aarif </option>
    <option value="819">Vijay Kumar, Saidha</option>
    <option value="377">Dr. Vishwanath H., Sitaramaiah</option>
    <option value="27">Dr. Wachira, John Mwangi</option>
    <option value="476">Dr. Wachira, Jacinta</option>
    <option value="440">Dr. Wafula,  Nalwa</option>
    <option value="281">Dr. Wagana,  Lois N. </option>
    <option value="775">Dr. Wagude, James</option>
    <option value="374">Dr. Wahome, Karanja</option>
    <option value="399">Dr. Wahome,  Stan Mureithi</option>
    <option value="700">Dr. Wahome, Eunice</option>
    <option value="23">Dr. Waihenya, Charles Githiaka</option>
    <option value="2136">Waihuini, Grace</option>
    <option value="510">Dr. Wairagu, Anne</option>
    <option value="2051">Wairimu , Rowena </option>
    <option value="2016">Wairiuko, Moses </option>
    <option value="1262">Dr. Wairoto, David</option>
    <option value="304">Dr. Wala, Jonathan </option>
    <option value="388">Dr. Walia,  Dharminder Singh</option>
    <option value="842">Dr. Walter Aram, Oich</option>
    <option value="1295">Dr. Wambua Mwenda, Mumbua</option>
    <option value="554">Dr. Wambugu, Johnson</option>
    <option value="433">Dr. Wambugu,  Benjamin</option>
    <option value="475">Dr. Wameyo, Akwabi</option>
    <option value="834">Dr. Wangai, Erastus</option>
    <option value="430">Dr. Wangai, Paul</option>
    <option value="1467">Wangui, Maryann</option>
    <option value="1228">Dr. WANGUI MWANGI, LILIAN</option>
    <option value="474">Dr. Wanjala, Samson H.M</option>
    <option value="1762">Wanjala, Tom</option>
    <option value="1670">Dr. Wanjiku, Njatha</option>
    <option value="1744">Wanjiku, Jean</option>
    <option value="1746">Dr. Wanjiku, Jean</option>
    <option value="1753">Wanjiku, Terry</option>
    <option value="1751">Wanjiru, Anne</option>
    <option value="893">Dr. Wanjuki, John</option>
    <option value="31">Dr. Wanyika, Hannah Wangui</option>
    <option value="33">Dr. Wanyoike, Martin</option>
    <option value="2057">Wanyonyi, Olive </option>
    <option value="382">Dr. Wanyonyi,   Charles</option>
    <option value="614">Waruingi Mwangi, Charles</option>
    <option value="758">Dr. Wasunna, Joab</option>
    <option value="2000">Dr. Watenga, Kamotho</option>
    <option value="322">Dr. Waweru,  Salome</option>
    <option value="371">Dr. Waweru, N.K. Samuel</option>
    <option value="289">Dr. Wendy, Wendy</option>
    <option value="362">Dr. Were,  Anthony O. </option>
    <option value="394">Dr. Were,  F.O.</option>
    <option value="529">Wills, Owino-Ong'or</option>
    <option value="1896">Dr. Woiye, Charles</option>
    <option value="619">Dr. Wotto, Kigoonya </option>
    <option value="369">Dr. Yajnik,   N. Bimal</option>
    <option value="1797">Dr. Yator, Herman</option>
    <option value="2121">Dr. Yonga, Samuel</option>
    <option value="451">Prof. Yonga,  Gerald</option>
    <option value="719">Dr. Yonga, Paul</option>
    <option value="473">Dr. Yossa, Gordon Peter</option>
    </select>